@model IEnumerable<BookShelf.Models.Book>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ int number = 1;}
<div>
    <h3>Books</h3>
    <table>
        <tr>
            <td><p>№</p></td>
            <td><p>Name</p></td>
            <td><p>Pages</p></td>
            <td><p>Mark</p></td>
        </tr>
        @foreach (var b in Model)
        {
            <tr>
                <td><p>@(number++) </p></td>
                <td><p><a href="/Home/ViewBook/@b.Id">@b.Name</a></p></td>
                <td><p>@b.Pages</p></td>
                <td><p>@b.Mark</p></td>
                <td><p><a href="/Home/Edit/@b.Id">Edit</a></p></td>
            </tr>
        }
    </table>

</div>
